.idea/

db.sqlite3
__pycache__
*.pyc

.DS_Store

00.SAVE/
*.00?

.python-version

myvenv
__pycache__
staticfiles
local_settings.py
db.sqlite3
*.py[co]

*.bin
*.lock
*.log
*.class
*.ap_
*.pid

contrib/node_modules/
.env
logs/
dist/
dump.rdb
*.gz
*.zip
